
.semilla {
    display:inline-flex;
    border: solid 4px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    width:  170px;
    height: 110px;
    align-items: center;
    background-color: #ece3cd;
    border-radius: 50% 90% 90% 50% / 70% 70% 70% 70%;
}

/*imagen de fondo*/
.background-image {
    background-image: url(../images/Login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}

/*imagen de la hamburguesa*/
.background-login {
    background-image: url(../images/burguer.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 85% 47%;
}

/*posicionamiento del formulario*/
.form-w {
    padding: 100px 10px 150px;
    min-width: 520px;
    margin-right: 10%;
}


/*margenes para los botones*/
.mb-7 {
    margin-bottom: 70px;
}

.mb-7-5 {
    margin-bottom: 88px;
}

/*margen para los inputs*/
.text-indent {
    text-indent: 25px;
}

@media (max-width: 640px) {
    .form-w {
        padding: 150px 0px 100px;
        min-width: 85%;
        margin-right: 5%;
    }
    .background-login {
        background-image: url(../images/burguer.svg);
        background-repeat: no-repeat;
        background-position: 50% 45%;
    }
    .mb-7 {
        margin-bottom: 34px;
    }
    
    .mb-7-5 {
        margin-bottom: 35px;
    }

}